<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Etkinlik Arayüz</title>
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/howler/dist/howler.core.min.js"></script>
    <script src="/libs/konva/konva.js"></script>
    <script src="/assets/js/utils.js"></script>
    <script src="/assets/js/create.js"></script>
    <script src="/assets/js/export.js"></script>
    <script src="/assets/js/align.js"></script>
    <script src="/assets/js/player.js"></script>
    <script src="/assets/js/gsap.min.js"></script>
    <script src="/assets/js/Draggable.min.js"></script>
    <link rel="stylesheet" href="/assets/css/ide.css">
    <link rel="stylesheet" href="/assets/css/player.css">
</head>
<body>
<div class="WorkView" id="scope_TopMenu">
    <div>
        <div class="topMenuEmpty">&nbsp;</div>
    </div>

    <div class="AlignMain">
        <div class="TopIconBox" id="createRect"><img src="assets/img/create_rect.png"></div>
        <div class="TopIconBox image-upload">
            <form id="uploadImageForm" enctype="multipart/form-data">
                <label for="file_input" style="cursor: pointer">
                    <img src="assets/img/create_img.png"/>
                </label>

                <input style="display: none" id="file_input" name="uploadImage" type="file" multiple/>
            </form>
        </div>

        <div class="TopIconBox" id="createText"><img src="assets/img/create_text.png"></div>
        <div id="topBanner_addObject">
            <div class="TopIconBox" id="createSelect"><img src="assets/img/create_select.png"></div>
            <div class="TopIconBox" id="createPopup"><img src="assets/img/create_popup.png"></div>
            <div class="TopIconBox" id="createDirective"><img src="assets/img/create_directive.png"></div>
            <div class="TopIconBox" id="createControl"><img src="assets/img/create_control.png"></div>
            <div class="TopIconBox" id="createAnswer"><img src="assets/img/create_answer.png"></div>
            <div class="TopIconBox" id="createURL"><img src="assets/img/create_url.png"></div>
            <div class="TopIconBox" id="createInput"><img src="assets/img/create_input.png"></div>
            <div class="TopIconBox" id="createMatchDrag"><img src="assets/img/create_matchdrag.png"></div>
            <div class="TopIconBox" id="createMatchDrop"><img src="assets/img/create_matchdrop.png"></div>
            <div class="TopIconBox" id="createCanvas"><img src="assets/img/create_canvas.png"></div>
        </div>
    </div>

    <div style="display: flex">
        <div class="topMenuBtn" id="topMenuSaveBtn">Kaydet</div>
        <div class="topMenuBtn" id="export">Önizleme</div>
    </div>
</div>

<div id="scope_Canvas"></div>

<div class="WorkSpaces WorkView WorkSpace_Layer" id="scope_LeftWorkSpace" style="left:0; border-right:2px solid">
    <div class="WorkSpaces_Header">&#8627; Layer</div>
    <div id="LayerMain">
        <div class="SR_container2"></div>
    </div>
</div>

<div class="WorkSpaces WorkView" id="scope_RightWorkSpace">

    <div class="WorkSpaces_Group WorkSpace_PositionAndSize">
        <div class="WorkSpaces_Header">&#8627; Position And Size </div>
        <div class="Properties">
            <div class="Properties_column">
                <div class="Properties_box">
                    <div class="Properties_name">W</div>
                    <input type="number" class="Properties_input" tabindex="3" id="Properties_Width">
                </div>

                <div class="Properties_box">
                    <div class="Properties_name">X</div>
                    <input type="number" class="Properties_input" tabindex="1" id="Properties_Left">
                </div>
            </div>

            <div class="Properties_column">
                <div class="Properties_box">
                    <div class="Properties_name">H</div>
                    <input type="number" class="Properties_input" tabindex="4" id="Properties_Height">
                </div>

                <div class="Properties_box addSpace">
                    <div class="Properties_name">Y</div>
                    <input type="number" class="Properties_input" tabindex="2" id="Properties_Top">
                </div>
            </div>
        </div>
    </div>

    <div class="WorkSpaces_Group WorkSpace_Scale">
        <div class="WorkSpaces_Header">&#8627; Scale</div>
        <div class="Properties_column">
            <div class="Properties_box">
                <div class="Properties_name">W</div>
                <input type="number" style="width:43px" class="Properties_input" id="Properties_ScaleW">
                <div class="Properties_name">%</div>
            </div>

            <div class="Properties_box">
                <div class="Properties_name">H</div>
                <input type="number" style="width:43px" class="Properties_input" id="Properties_ScaleH">
                <div class="Properties_name">%</div>
            </div>
        </div>

        <div class="addSpace">
            <input type="checkbox" id="ratioCheck" checked>
            <label for="ratioCheck">Constrain ratio</label><br>
        </div>
    </div>

    <div class="WorkSpaces_Group WorkSpace_Align">
        <div class="WorkSpaces_Header">&#8627; Align Object</div>
        <div class="AlignMain">
            <div class="AlignBox" id="align_Left"><img src="assets/img/leftY.svg"></div>
            <div class="AlignBox" id="align_HorizontalCenter"><img src="assets/img/centerY.svg"></div>
            <div class="AlignBox" id="align_Right"><img src="assets/img/rightY.svg"></div>
            <div class="AlignBox" id="align_SpaceVertical"><img src="assets/img/spaceY.svg"></div>
        </div>
        <div class="AlignMain">
            <div class="AlignBox" id="align_Top"><img src="assets/img/upX.svg"></div>
            <div class="AlignBox" id="align_VerticalCenter"><img src="assets/img/centerX.svg"></div>
            <div class="AlignBox" id="align_Bottom"><img src="assets/img/downX.svg"></div>
            <div class="AlignBox" id="align_SpaceHorizontal"><img src="assets/img/spaceX.svg"></div>
        </div>
        <div class="AlignMain">
            <div class="AlignBox" id="align_ScaleAuto"><img src="assets/img/stagescale.svg"></div>
            <div class="AlignBox" id="align_CenterStage"><img src="assets/img/stageCenter.svg"></div>
        </div>
    </div>

    <div class="WorkSpaces_Group addSpace WorkSpace_Identity">
        <div class="WorkSpaces_Header">&#8627; Identity </div>

        <div class="WorkSpaces_SelectContainer">
            <div class="altHead">ID:</div>
            <input type="text" class="elementInput" id="identity_elementID">
            <div class="altHead">Class:</div>
            <input type="text" class="elementInput" id="identity_elementClass">
            <table id="identity_table" style="margin-top: 10px"></table>

            <div class="Identity_AddParamBtn">
                <img src="assets/img/addparam.png" id="identity_tableAddBtn" class="paramBtn_icon"/>
            </div>

        </div>
    </div>

    <div class="WorkSpaces_Group WorkSpace_Font">
        <div class="WorkSpaces_Header">&#8627; Font</div>

        <div class="font_table2">
            <div class="font_column">
                <div>Family</div>
                <div class="font_row">
                    <select id="font_fontFamily">
                        <option value="Arial">Arial</option>
                        <option value="Nunito">Nunito</option>
                    </select>
                </div>
                <input type="text" id="font_sizeInput">
            </div>
            <div class="font_column">
                <div>Color</div>
                <div class="font_row">
                    <input type="color" id="font_colorPicker" class="font_input">
                </div>
                <input type="text" id="font_hexInput" maxlength="7">
            </div>
        </div>
    </div>

    <div class="WorkSpaces_Group addSpace WorkSpace_ColorPicker">
        <div class="WorkSpaces_Header">&#8627; Color Picker</div>

        <div class="font_table2">
            <div class="font_column">
                <input type="color" id="colorPicker" name="head" value="#ff0000" />
            </div>

            <div class="font_column">
                <input type="text" id="font_colorInput" maxlength="7">
            </div>
        </div>

        <div class="font_table2">
            <input type="range" id="font_opacity" min="1" max="100" value="50">
        </div>
    </div>

    <div class="WorkSpaces_Group addSpace WorkSpace_SceneParam">
        <div class="WorkSpaces_Header">&#8627; Add Scene </div>
        <table id="scene_table"></table>
        <div class="Identity_AddParamBtn" id="param_sceneAddBtn">
            <img src="assets/img/addparam.png" class="paramBtn_icon"/>
        </div>
    </div>

    <div class="WorkSpaces_Group addSpace WorkSpace_AnswerParam">
        <div class="WorkSpaces_Header">&#8627; Add Answer </div>
        <table id="answer_table"></table>
        <div class="Identity_AddParamBtn" id="param_answerAddBtn">
            <img src="assets/img/addparam.png" class="paramBtn_icon"/>
        </div>
    </div>

    <div class="WorkSpaces_Group WorkSpace_OverFlow" style="display:none">
        <div class="WorkSpaces_Header">&#8627; Area</div>
        <div class="Properties_column">
            <div class="Properties_box Properties_areaW">
                <div class="Properties_name ">W</div>
                <input type="number" class="Properties_input" id="Properties_areaW" disabled>
            </div>

            <div class="Properties_box Properties_areaH">
                <div class="Properties_name">H</div>
                <input type="number" class="Properties_input" id="Properties_areaH" disabled>
            </div>
        </div>

        <div class="addSpace">
            <input type="checkbox" id="areaCheck">
            <label for="areaCheck">overflow</label><br>
        </div>
    </div>

<!--
    <div id="omg" style="width:50px; height:50px;background-color: #00796b"></div>
    <div id="omg2" style="width:50px; height:50px;background-color: darkred"></div>
-->
</div>

<div id="welcome_main">
    <div class="welcome_window">
        <div class="welcome_header">
            <div class="welcome_windowTitle">Okulistik Content Creater</div>
            <div id="welcome_search">
                <input placeholder="Search File" autocomplete="off" type="text" id="searchFile">
            </div>
        </div>

        <div class="welcome_file" id="welcome_step1">
            <div id="welcome_savedFileList"></div>
        </div>

        <div class="welcome_file" id="welcome_step2">
            <div id="welcome_sceneTypeList"></div>
        </div>

        <div id="welcome_closeInput">
            <hr>
            <div class="welcome_newFileContainer">
                <input placeholder="Content Name" autocomplete="off" type="text" id="addFileInput">
                <div class="addFileBtn" id="welcome_newFileBtn">
                    <img src="/assets/img/newFile.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>

<div id="scope_saved">Kaydedildi!</div>

<div class="WorkView WorkSpace_Scene" id="scope_Scene">
    <div class="Scene_addContainer">
        <img id="Scene_addButon" src="assets/img/plus.png" alt="">
        <div id="SR_Scene_Main">
            <div class="SR_Scene_Container"></div>
        </div>
    </div>
    <div id="Slide_fileName"></div>
</div>

<div class="previewMain">
    <div id="previewContent">
        <div id="previewClose">Preview Close</div>
        <div id="Player_Container"></div>
    </div>
</div>

<div id="userMain">
    <div class="userMain_window">
        <div class="userMain_contentWindow">
            <div class="welcome_windowTitle">User Login</div>

            <div class="userMain_inputName">User Name</div>
            <input class="userMain_input" type="text" id="username">
            <div class="userMain_inputName">Password</div>
            <input class="userMain_input" type="password" id="password">

            <div class="userMain_btnContainer">
                <div class="userMain_btn" id="userMain_submitBtn">Submit</div>
                <div class="userMain_btn" id="userMain_guestBtn">Guest Mode</div>
            </div>
        </div>
    </div>
</div>

<script>
    var IDE = {
        stage:{width: 1480, height: 920, container: "scope_Canvas", bg:"#404040"},
        layer:{x:100, y:100},
        text:{write: false, leftSpace: 152, topSpace: 37},
        sceneTypes:[["Çoktan Seçmeli", "CS"], ["Boş Belge", "EMPTY"]],
        activeLayer: null,
        selectedLayers:[],
        selected: false,
        scope: "",
        propValues:{},
        tranforming: false,
        sceneLayer: null,
        editLayer: null,
        sceneSelect: null,
        editSelect: null,
        copy: null,
        sceneUnique: null,
        saveInterval: null,
        addHistory: true,
        historyStep: -1,
        historyList:[],
        editPosGap:{x:0, y:0},
        editRect: null,
        searchList:[],
        editMC: null,
        workSpace:{
            scope_Canvas: document.querySelector("#scope_Canvas"),
            scope_LeftWorkSpace: document.querySelector("#scope_LeftWorkSpace"),
            scope_RightWorkSpace: document.querySelector("#scope_RightWorkSpace"),
            scope_Scene: document.querySelector("#scope_Scene"),

            previewMain: document.querySelector(".previewMain"),
            previewClose: document.querySelector("#previewClose"),
            playerContainer: document.querySelector("#Player_Container"),

            leftInput: document.querySelector("#Properties_Left"),
            topInput: document.querySelector("#Properties_Top"),
            widthInput: document.querySelector("#Properties_Width"),
            heightInput: document.querySelector("#Properties_Height"),
            scaleWInput: document.querySelector("#Properties_ScaleW"),
            scaleHInput: document.querySelector("#Properties_ScaleH"),
            areaCheck: document.querySelector("#areaCheck"),
            areaWInput: document.querySelector("#Properties_areaW"),
            areaHInput: document.querySelector("#Properties_areaH"),

            createText: document.querySelector("#createText"),
            createRect: document.querySelector("#createRect"),
            createSelect: document.querySelector("#createSelect"),
            createPopup: document.querySelector("#createPopup"),
            createControl: document.querySelector("#createControl"),
            createAnswer: document.querySelector("#createAnswer"),
            createURL: document.querySelector("#createURL"),
            createInput: document.querySelector("#createInput"),
            createMatchDrag: document.querySelector("#createMatchDrag"),
            createMatchDrop: document.querySelector("#createMatchDrop"),
            createCanvas: document.querySelector("#createCanvas"),
            createDirective: document.querySelector("#createDirective"),

            uploadImageForm: document.querySelector("#uploadImageForm"),
            colorPicker: document.querySelector("#colorPicker"),
            colorInput: document.querySelector("#font_colorInput"),

            align_Left: document.querySelector("#align_Left"),
            align_HorizontalCenter: document.querySelector("#align_HorizontalCenter"),
            align_Right: document.querySelector("#align_Right"),
            align_Top: document.querySelector("#align_Top"),
            align_VerticalCenter: document.querySelector("#align_VerticalCenter"),
            align_Bottom: document.querySelector("#align_Bottom"),
            align_SpaceHorizontal: document.querySelector("#align_SpaceHorizontal"),
            align_SpaceVertical: document.querySelector("#align_SpaceVertical"),
            align_ScaleAuto: document.querySelector("#align_ScaleAuto"),
            align_CenterStage: document.querySelector("#align_CenterStage"),

            identity_elementID: document.querySelector("#identity_elementID"),
            identity_elementClass: document.querySelector("#identity_elementClass"),
            identity_table: document.querySelector("#identity_table"),
            identity_tableAddBtn: document.querySelector("#identity_tableAddBtn"),

            rightAnswer: document.querySelector("#rightAnswer"),
            ratioCheck: document.querySelector("#ratioCheck"),
            WorkSpace_Layer: document.querySelector(".WorkSpace_Layer"),
            WorkSpace_Scene: document.querySelector(".WorkSpace_Scene"),
            WorkSpace_ColorPicker: document.querySelector(".WorkSpace_ColorPicker"),
            WorkSpace_Identity: document.querySelector(".WorkSpace_Identity"),
            WorkSpace_Font: document.querySelector(".WorkSpace_Font"),
            WorkSpace_SceneParam: document.querySelector(".WorkSpace_SceneParam"),
            WorkSpace_AnswerParam: document.querySelector(".WorkSpace_AnswerParam"),
            WorkSpace_PositionAndSize: document.querySelector(".WorkSpace_PositionAndSize"),
            WorkSpace_Scale: document.querySelector(".WorkSpace_Scale"),
            WorkSpace_Align: document.querySelector(".WorkSpace_Align"),
            WorkSpace_OverFlow: document.querySelector(".WorkSpace_OverFlow"),

            font_sizeInput: document.querySelector("#font_sizeInput"),
            font_colorPicker: document.querySelector("#font_colorPicker"),
            font_fontFamily: document.querySelector("#font_fontFamily"),
            font_hexInput: document.querySelector("#font_hexInput"),

            topBanner_addObject: document.querySelector("#topBanner_addObject")
        },
        welcome:{
            main: document.querySelector("#welcome_main"),
            step1: document.querySelector("#welcome_step1"),
            step2: document.querySelector("#welcome_step2"),
            closeInput: document.querySelector("#welcome_closeInput"),
            savedFileList: document.querySelector("#welcome_savedFileList"),
            sceneTypeList: document.querySelector("#welcome_sceneTypeList"),
            newFileBtn: document.querySelector("#welcome_newFileBtn"),
            addFileInput: document.querySelector("#addFileInput"),

            userMain: document.querySelector("#userMain"),
            username: document.querySelector("#username"),
            password: document.querySelector("#password")
        }
    }

    var stage = new Konva.Stage(IDE.stage);
    IDE.sceneLayer = new Konva.Layer(IDE.layer);
    IDE.editLayer = new Konva.Layer(IDE.layer);
    var Ruler = new Konva.Layer();
    var KonvaBG = new Konva.Layer(IDE.layer);
    IDE.sceneLayer.attrs.layer = "main";
    stage.add(Ruler);
    stage.add(KonvaBG);
    stage.add(IDE.sceneLayer);
    stage.add(IDE.editLayer);

    IDE.editSelect = getSELECT();
    IDE.sceneSelect = getSELECT();

    //History için rect poziyonu
    IDE.editSelect.on("dragend", function(){
        addHistory();
    });

    IDE.sceneSelect.on("dragend", function(){
        addHistory();
    });

    IDE.editLayer.add(IDE.editSelect);
    IDE.sceneLayer.add(IDE.sceneSelect);
    var SELECT = IDE.sceneSelect;
    IDE.activeLayer = IDE.sceneLayer;

    IDE.editBG = new Konva.Rect({
        x: 0,
        y: 0,
        width: 1280,
        height: 720,
        fill: "rgba(0, 0, 0, 0.80)",
        draggable: false
    });

    IDE.editRect = new Konva.Rect({
        x: 0,
        y: 0,
        width: 400,
        height: 400,
        fill: "rgba(255, 255, 255, 0)",
        draggable: false,
        stroke: "#AE65AE",
        strokeWidth: 1,
        dash: [5, 2]
    });

    IDE.editLayer.add(IDE.editBG).x(1500);
    IDE.editLayer.add(IDE.editRect);

    var imageObj = new Image();
    imageObj.onload = function () {
        var yoda = new Konva.Image({
            x: 0,
            y: 0,
            image: imageObj,
            width: IDE.stage.width,
            height: IDE.stage.height
        });

        Ruler.add(yoda);
    };
    imageObj.src = '/assets/img/rulers.png';

    var CREATE = new CREATE();
    var EXPORT = new EXPORT();
    var utils = new utils();
    var ALIGN = new ALIGN();
    var Player;
    var sceneIndex=0;

    var jsonV2 = {
        fileName: "",
        createTime: "",
        version: "1.0",
        slides: []
    };

    function sceneTemplate(){
        return {
            type: "KT_MC_Single",
            answer:{},
            rightAnswer: null,
            scene: {},
            all: [],
        }
    }

    function getSELECT(){
        var tempSelect = new Konva.Transformer({
            flipEnabled: false,
            rotateEnabled: false,
            keepRatio: true,
            enabledAnchors: ['bottom-right']
        });

        tempSelect.on("transformstart transform", function(){
            IDE.tranforming = true;
        });

        tempSelect.on("transformend", function(){
            IDE.tranforming = false;
        });

       return tempSelect;
    }

    var changeSelect = {
        objectText: function(tr){
            tr.enabledAnchors(["middle-right"]);
            tr.boundBoxFunc(function (oldBox, newBox) {
                newBox.width = Math.max(30, newBox.width);
                return newBox;
            });
        },

        objectMovieClip: function (tr){
            tr.enabledAnchors(["bottom-right"]);
            tr.boundBoxFunc(null);
        },

        objectImg: function (tr){
            tr.enabledAnchors(["bottom-right"]);
            tr.boundBoxFunc(null);
        },

        objectRect: function (tr){
            tr.enabledAnchors(['top-left', 'top-center', 'top-right', 'middle-right', 'middle-left', 'bottom-left', 'bottom-center', 'bottom-right']);
            tr.boundBoxFunc(null);
        },

        multi: function (tr){
            tr.enabledAnchors([]);
            tr.boundBoxFunc(null);
        }
    }

    function selectItem(temp){
        IDE.selected = true;

        if(temp.shiftKey){
            IDE.selectedLayers.push(temp.layer);
            changeSelect["multi"](SELECT);
        }else{
            if(!IDE.selectedLayers.length){
                IDE.selectedLayers = [temp.layer];
                changeSelect[ temp.layer.Layer.type ](SELECT);
                colorPicker({});
            }
        }

        SELECT.nodes(IDE.selectedLayers).moveToTop();
        checkIdentity(temp.layer);
        layerBackgroundColor();
        setFontSize(null, null);

        showObjectWorkSpaces();
    }


    function showObjectWorkSpaces(){
        if(IDE.selectedLayers.length){
            IDE.workSpace.WorkSpace_PositionAndSize.style.display = "block";
            IDE.workSpace.WorkSpace_Scale.style.display = "block";
            IDE.workSpace.WorkSpace_Align.style.display = "block";
            IDE.workSpace.WorkSpace_Identity.style.display = "none";
            IDE.workSpace.WorkSpace_SceneParam.style.display = "none";
            IDE.workSpace.WorkSpace_AnswerParam.style.display = "block";
            IDE.workSpace.WorkSpace_ColorPicker.style.display = "block";
            IDE.workSpace.WorkSpace_Font.style.display = "block";

            if(IDE.selectedLayers.length === 1){
                IDE.workSpace.WorkSpace_Identity.style.display = "block";
                IDE.workSpace.WorkSpace_AnswerParam.style.display = "block";

                if(IDE.selectedLayers[0].Layer.type === "objectText"){
                    IDE.workSpace.WorkSpace_Font.style.display = "block";
                    IDE.workSpace.WorkSpace_ColorPicker.style.display = "none";
                }else if(IDE.selectedLayers[0].Layer.type === "objectRect"){
                    IDE.workSpace.WorkSpace_ColorPicker.style.display = "block";
                    IDE.workSpace.WorkSpace_Font.style.display = "none";
                }else{
                    IDE.workSpace.WorkSpace_ColorPicker.style.display = "none";
                    IDE.workSpace.WorkSpace_Font.style.display = "none";
                }
            }

        }else{
            IDE.workSpace.WorkSpace_PositionAndSize.style.display = "none";
            IDE.workSpace.WorkSpace_Scale.style.display = "none";
            IDE.workSpace.WorkSpace_Align.style.display = "none";
            IDE.workSpace.WorkSpace_Identity.style.display = "none";
            IDE.workSpace.WorkSpace_SceneParam.style.display = "block";
            IDE.workSpace.WorkSpace_AnswerParam.style.display = "block";
            IDE.workSpace.WorkSpace_ColorPicker.style.display = "none";
            IDE.workSpace.WorkSpace_Font.style.display = "none";
        }
    }

    function colorPicker(prop){
        if(IDE.selectedLayers.length === 1){
            if(IDE.selectedLayers[0].Layer.type === "objectRect"){
                if(prop.color){
                    if(!prop.color.includes("#")){
                        prop.color = "#"+color;
                    }

                    IDE.selectedLayers[0].fill(prop.color);
                    IDE.workSpace.colorInput.value = prop.color;
                    IDE.workSpace.colorPicker.value = prop.color;
                    addHistory();
                }else if(prop.opacity){
                    var tempOpacity = parseInt(document.querySelector("#font_opacity").value) / 100;
                    IDE.selectedLayers[0].opacity(tempOpacity);
                }else{
                    document.querySelector("#font_opacity").value = IDE.selectedLayers[0].opacity()*100;
                    IDE.workSpace.colorPicker.value = IDE.selectedLayers[0].fill();
                    IDE.workSpace.colorInput.value = IDE.selectedLayers[0].fill();
                }
            }
        }
    }

    function setFontSize(size, color, family){
        if(IDE.selectedLayers.length){
            if(IDE.selectedLayers[0].Layer.type === "objectText"){
                if(size){
                    IDE.selectedLayers[0].fontSize(size);
                }else{
                    IDE.workSpace.font_sizeInput.value = IDE.selectedLayers[0].fontSize();
                }

                if(color){
                    if(!color.includes("#")){
                        color = "#"+color;
                    }

                    IDE.selectedLayers[0].fill(color);
                    IDE.workSpace.font_colorPicker.value = color;
                    IDE.workSpace.font_hexInput.value = color;
                }else{
                    IDE.workSpace.font_colorPicker.value = IDE.selectedLayers[0].fill();
                    IDE.workSpace.font_hexInput.value = IDE.selectedLayers[0].fill();
                }

                if(family){
                    var current = IDE.selectedLayers[0];
                    IDE.selectedLayers[0].fontFamily(family);
                    deSelect();
                    selectItem({layer:current});
                }else{
                    IDE.workSpace.font_fontFamily.value = IDE.selectedLayers[0].fontFamily();
                }
            }
        }
    }

    /* Identity */
    function checkIdentity(){
        if(IDE.selectedLayers.length === 1){
            var obj = IDE.selectedLayers[0];
            if(obj.Layer.elementID){
                IDE.workSpace.identity_elementID.value = obj.Layer.elementID;
            }else{
                IDE.workSpace.identity_elementID.value = "";
            }

            if(obj.Layer.class){
                IDE.workSpace.identity_elementClass.value = obj.Layer.class;
            }else{
                IDE.workSpace.identity_elementClass.value = "";
            }

            refreshTable(IDE.selectedLayers[0].Layer.params, IDE.workSpace.identity_table);
        }
    }

    function refreshTable(list, table, tdName1, tdName2){

        if(!tdName1){
            tdName1 = "Key";
        }

        if(!tdName2){
            tdName2 = "Value";
        }

        var tableHtml = `<th class="td1">${tdName1}</th><th class="td2">${tdName2}</th><th class="td3"></th>`;
        var param = [];

        for(var prop in list){
            var idKey = "key_"+prop;
            var idVal = "val_"+prop;
            var idBtn = "btn_"+prop;

            tableHtml += `<tr>
                        <td><input type="text" class="input1 tableInput" id="${idKey}" value="${prop}"></td>
                        <td><input type="text" class="td2 tableInput input2" id="${idVal}" value="${list[prop]}"></td>
                        <td class="td3"><img src="assets/img/removeparam.png" id="${idBtn}" class="paramBtn_icon" alt=""/></td>
                    </tr>`;

            param.push({prop, idKey, idVal, idBtn});
        }

        table.innerHTML = tableHtml;

        param.map(function(e){
            var prop = e.prop;
            var keyInput = document.querySelector("#"+ e.idKey);
            var valInput = document.querySelector("#"+ e.idVal);
            var delBtn = document.querySelector("#"+ e.idBtn);

            keyInput.prop = prop;
            keyInput.data = list[prop];
            keyInput.addEventListener("focusout", function(){
                for(var p in list){
                    if(p === this.value){
                        this.value = "New";
                    }
                }

                if(this.prop !== this.value){
                    delete list[this.prop];
                    list[this.value] = this.data;
                }
            });

            keyInput.addEventListener("focusout", function(){
                this.prop = this.value;
            });

            valInput.addEventListener("input", function(){
                var tempProp = keyInput.prop;
                list[tempProp] = this.value;
            });

            utils.addBlur(keyInput);
            utils.addBlur(valInput);

            delBtn.addEventListener("click", function(){
                delete list[prop];
                refreshTable(list, table, tdName1, tdName2);
            });
        });
    }

    document.querySelector("#param_answerAddBtn").addEventListener("click", function(){
        jsonV2.slides[sceneIndex].answer["New"] = "";
        refreshTable(jsonV2.slides[sceneIndex].answer, document.querySelector("#answer_table"), "ID", "Answer");
        console.log( jsonV2.slides[sceneIndex] );
    });

    document.querySelector("#param_sceneAddBtn").addEventListener("click", function(){
        jsonV2.slides[sceneIndex].scene["New"] = "";
        refreshTable(jsonV2.slides[sceneIndex].scene, document.querySelector("#scene_table"));
    });

    IDE.workSpace.identity_elementID.addEventListener("input", function(){
        if(IDE.selectedLayers.length === 1){
            this.unique = IDE.selectedLayers[0].Layer.unique;
            this.tempName = this.value;
        }
    });

    IDE.workSpace.identity_elementID.addEventListener("blur", function(){
        var currentValue = this.tempName;
        var currentUnique = this.unique;
        var localEX = utils.getLayers();

        localEX.map(function(obj){
            if(obj.Layer.unique === currentUnique){
                if(obj.Layer.type === "objectMovieClip"){
                    if(!currentValue.length){
                        currentValue = obj.Layer.elementID;
                    }

                    obj.Layer.name = currentValue;
                    obj.Layer.layerNameNormal.innerText = currentValue;
                }

                obj.Layer.elementID = currentValue;
                IDE.workSpace.identity_elementID.value = currentValue;
            }
        });
    });

    IDE.workSpace.identity_elementClass.addEventListener("input", function(){
        if(IDE.selectedLayers.length === 1){
            IDE.selectedLayers[0].Layer.class = IDE.workSpace.identity_elementClass.value;
        }
    });

    utils.addBlur(IDE.workSpace.identity_elementID);
    utils.addBlur(IDE.workSpace.identity_elementClass);

    identity_tableAddBtn.addEventListener("click", function(){
        if(IDE.selectedLayers.length === 1){
            if(!IDE.selectedLayers[0].Layer.params){
                IDE.selectedLayers[0].Layer.params = {}
            }

            IDE.selectedLayers[0].Layer.params["New"] = "";
            refreshTable(IDE.selectedLayers[0].Layer.params, IDE.workSpace.identity_table);
        }
    });

    /* Identity */

    var layerBackgroundColor = function(){
        var localEX = utils.getLayers();
        localEX.forEach(function(tempLayer){
            if(tempLayer.Layer.main){
                tempLayer.Layer.main.style.backgroundColor = "#323232";
            }
        });

        IDE.selectedLayers.map(function(tempLayer){
            if(tempLayer.Layer.main){
                tempLayer.Layer.main.style.backgroundColor = "#35618f";
            }
        });
    }

    function deSelect(){
        IDE.selectedLayers = [];
        layerBackgroundColor();
        SELECT.nodes(IDE.selectedLayers);
        getProp(false);
        showObjectWorkSpaces();
    }

    /* Layer Tüm Objeleri Silme */
    function layerDeleteAll(){
        LayerSR.resetSystem();
        var localEX = utils.getLayers();
        localEX.map(function(i){
            i.destroy();
        });

        deSelect();
    }

    function addObjects(kids, container, addLayer){
        kids.map(function(e){
            var layer = { ...e.Layer };
            delete e.Layer;
            if(layer.type === "objectRect"){
                CREATE.rectFNC({
                    properties: e,
                    container: container,
                    layer: layer,
                    addLayer: addLayer
                });
            }else if(layer.type === "objectCircle"){
                CREATE.circlesFNC({
                    properties: e,
                    container: container,
                    layer: layer,
                    addLayer: addLayer
                });
            }else if(layer.type === "objectImg"){
                CREATE.imgFNC({
                    properties: e,
                    container: container,
                    layer: layer,
                    uploadImg: null,
                    addLayer: addLayer
                });
            }else if(layer.type === "objectText"){
                CREATE.textFNC({
                    properties: e,
                    container: container,
                    layer: layer,
                    addLayer: addLayer
                });
            }else if(layer.type === "objectMovieClip"){
                var movieClip = CREATE.movieClipFNC({
                    properties: e,
                    container: container,
                    layer: layer
                });

                addObjects(e.Kids, movieClip, false);
                Arayuz_addLayer(movieClip);
            }
        });
    }


    /* Sahne Seçme */
    function sceneSelect(request){
        sceneIndex = request;
        layerDeleteAll();
        addObjects(jsonV2.slides[sceneIndex].all, IDE.sceneLayer, true);
        addHistory();
        searchSingleUseObject();
        CREATE.checkKontrol();
        document.querySelectorAll(".SR_Scene_Drag").forEach(function(btn){
            btn.style.backgroundColor = "#666666";
        });

        IDE.sceneUnique = jsonV2.slides[sceneIndex].unique;
        document.querySelector("#"+IDE.sceneUnique).style.backgroundColor = "darkgreen";

        if(!jsonV2.slides[sceneIndex].answer){
            jsonV2.slides[sceneIndex].answer = {};
        }

        importTypeSettings();
        refreshTable(jsonV2.slides[sceneIndex].answer, document.querySelector("#answer_table"), "ID", "Answer");
        refreshTable(jsonV2.slides[sceneIndex].scene, document.querySelector("#scene_table"));
    }

    function autoSceneSave(){
        var saveData = false;
        if(jsonV2.slides.length){
            saveData = true;
        }

        if(saveData){
            EXPORT.convertJson();
            console.log("Current Scene Save: [OK]");
        }
    }

    function importTypeSettings(){
        var btnID = jsonV2.slides[sceneIndex].rightAnswer;
        if(btnID !== null && btnID !== undefined){
            console.log("DELETE RIGHT ANSWER:",btnID);
            jsonV2.slides[sceneIndex].answer[String(btnID)] = "true";
            delete jsonV2.slides[sceneIndex].rightAnswer;
        }
    }


    /* Yeni Sahne Ekleme */
    function sceneAddNewScene(template){
        jsonV2.slides.push(template);
        var lastIndex = (jsonV2.slides.length-1);
        sceneAddNavigationBtn(lastIndex);
        sceneSelect(lastIndex);
    }

    /* Sahne Silme */
    function sceneDelete(){
        jsonV2.slides.splice(sceneIndex, 1);

        if(jsonV2.slides.length){
            sceneSelect(0);
        }else{
            layerDeleteAll();
            showSceneType();
        }
    }

    /* Sahne Sıralama Değiştirme */
    function sceneChangeSort(list, sceneID, newList){
        var slidesClone = jsonV2.slides.slice();
        jsonV2.slides=[];

        newList.map(function(x, index){
            slidesClone.map(function(y){
                if(x[1] === y.unique){
                    jsonV2.slides.push(y);
                }

                if(x[1] === IDE.sceneUnique){
                    sceneIndex = index;
                }
            });
        });
    }



    /* Sahne Navigasyon Buton Ekleme */
    function sceneAddNavigationBtn(id, name){
        if(!name){name=CREATE.getSceneName()}
        jsonV2.slides[id].name = name;

        var unique = utils.getRandomName();
        if(jsonV2.slides[id].unique){
            unique = jsonV2.slides[id].unique;
        }else{
            jsonV2.slides[id].unique = unique;
        }

        SceneSR.clicked(`<div class="SR_Scene_Drag" id="${unique}">${name}</div>`, unique);
        document.querySelector("#"+unique).addEventListener("click", function(){
            jsonV2.slides.map(function(scene, index){
                if(scene.unique === unique){
                    autoSceneSave();
                    sceneSelect(index);
                }
            })
        });
    }


    function addSceneTypeBtnHTML(filename, id){
        var htmlID = "new_"+id.toLowerCase();

        let html = `<div class="welcome_fileBtn_Part">
                        <img class="welcome_fileIcon" src="/assets/img/createscene.png" alt="file">
                        <div>${filename}</div>
                    </div>`;

        let div = utils.addDOM({className:"welcome_fileBtn", id:htmlID, innerHTML:html});
        IDE.welcome.sceneTypeList.appendChild(div);

        document.querySelector("#"+ htmlID).addEventListener("click", function(e){
            var template = sceneTemplate();
            console.log(template);
            sceneAddNewScene(template);
            IDE.welcome.main.style.display = "none";
        });
    }

    var boxColor = {tuncay: "#455a64", melike: "#1565c0", irem: "#ad1457"};

    /* File System */
    function addSavedFileBtn(filename, date, fileUser){
        let html = `<div class="welcome_fileBtn_Part">
                        <img class="welcome_fileIcon" src="/assets/img/editFile.png" alt="file">
                        <div>${filename}</div>
                    </div>
                    <div class="welcome_fileBtn_Part">
                        <div class="welcome_userBox" style="background-color: ${boxColor[fileUser]}">${fileUser}</div>
                        <div class="welcome_dateBox">${date}</div>
                        <div id="z_${filename}" class="welcome_fileBtn_smallBtn">
                            <img class="welcome_fileBtn_icon" src="/assets/img/zip.png" alt="file">
                        </div>
                        <div id="d_${filename}" class="welcome_fileBtn_smallBtn welcomeDelete">
                            <img class="welcome_fileBtn_icon" src="/assets/img/delete.png" alt="file">
                        </div>
                        <div id="p_${filename}" class="welcome_fileBtn_smallBtn">
                            <img class="welcome_fileBtn_icon" src="/assets/img/preview.png" alt="file">
                        </div>
                        <div id="o_${filename}" class="welcome_fileBtn_smallBtn">
                            <img class="welcome_fileBtn_icon" src="/assets/img/optic.png" alt="file">
                        </div>
                    </div>`;
        let div = utils.addDOM({className:"welcome_fileBtn", id:"f_"+ filename, innerHTML:html});
        IDE.welcome.savedFileList.appendChild(div);
        IDE.searchList.push([filename, div]);

        var fileBtn = document.querySelector("#f_"+ filename);
        var zipBtn = document.querySelector("#z_"+ filename);
        var delBtn = document.querySelector("#d_"+ filename);
        var htmlBtn = document.querySelector("#p_"+ filename);
        var opticBtn = document.querySelector("#o_"+ filename);

        fileBtn.addEventListener("click", function(e){
            selectFileAjax(filename);
            IDE.welcome.main.style.display = "none";
            IDE.welcome.step1.style.display = "none";
            IDE.welcome.step2.style.marginBottom = "50px";
            IDE.welcome.closeInput.style.display = "none";

            IDE.fileUser = fileUser;
            saveBtnViewStatus("block");
        });

        zipBtn.addEventListener("click", function(e){
            zipContentAjax(filename);
            e.stopPropagation();
        });

        delBtn.addEventListener("click", function(e){
            if (confirm(filename+" dosyasını silmek istediğinizden emin misiniz!")) {
                console.log("!Silindi");
                IDE.searchList=[];
                deleteFolderAjax(filename);
            }

            e.stopPropagation();
        });

        htmlBtn.addEventListener("click", function(e){
            window.open("/player/?file="+ filename +"&mode=normal");
            e.stopPropagation();
        });

        opticBtn.addEventListener("click", function(e){
            window.open("/player/?file="+ filename +"&mode=optic");
            e.stopPropagation();
        });

        if(IDE.fileUser){
            if(IDE.fileUser !== IDE.faceUser){
                zipBtn.classList.add("disableBtn");
                delBtn.classList.add("disableBtn");
                htmlBtn.classList.add("disableBtn");
                opticBtn.classList.add("disableBtn");
            }
        }
    }

    function showSceneType(){
        IDE.welcome.main.style.display = "flex";
        IDE.welcome.main.style.alignItems = "center";
        IDE.welcome.step2.style.display = "block";
    }


    function addSceneAddButon(){
        document.querySelector("#Scene_addButon").addEventListener("click", function(){
            autoSceneSave();
            showSceneType();
        });

        addStageBG();
        document.querySelector("#Slide_fileName").innerHTML = jsonV2.fileName;
        document.querySelector("#welcome_search").style.display = "none";
    }

    /* Ajax */
    function newFileAjax(json){
        var data = {token: IDE.token, data: JSON.stringify(json)};
        $.ajax({url: "/createNewFile", data, success: newFileParse, type: "POST", error: ajaxError});
    }

    function newFileParse(data){
        console.log(data);
        IDE.files = data.files;

        addSceneAddButon();
    }

    function selectFileAjax(file){
        var data = {token: IDE.token, file};
        $.ajax({url: "/selectFile", data, success: selectFileParse, type: "POST", error: ajaxError});
    }

    function selectFileParse(data){
        if(data.success){
            IDE.files = data.FILE.files;
            jsonV2 = data.FILE.files.data;

            if(jsonV2.slides.length){
                jsonV2.slides.map(function(o, i){
                    sceneAddNavigationBtn(i, o.name);
                });

                sceneSelect(0);
            }else{
                showSceneType();
            }


            addSceneAddButon();
        }else{
            alert("dosya bulunamadı");
        }
    }

    function saveDataAjax(json){
        var data = {token: IDE.token, data: JSON.stringify(json)};
        $.ajax({url: "/saveData", data, success: saveDataParse, type: "POST", error: ajaxError});
    }

    function saveDataParse(data){
        console.log("saveDataParse", data);
    }

    function deleteFolderAjax(file){
        var data = {token: IDE.token, file};
        console.log(data);
        $.ajax({url: "/deleteFolder", data, success: deleteFolderParse, type: "POST", error: ajaxError});
    }

    function deleteFolderParse(data){
        console.log("deleted Content Parse:", data);
        getFileListParse(data);
    }

    function deleteFileAjax(file){
        var data = {token: IDE.token, file};
        $.ajax({url: "/deleteFile", data, success: deleteFileParse, type: "POST", error: ajaxError});
    }

    function deleteFileParse(data){
        console.log("deleted File Parse:", data);
    }

    function zipContentAjax(file){
        var data = {token: IDE.token, file};
        $.ajax({url: "/getZip", data, success: zipContentParse, type: "POST", error: ajaxError});
    }

    function zipContentParse(data){
        console.log("zipContentParse", data);
        if(data.success){
            var path = "/files/"+ data.content.files.activeFile +".zip";
            fetch(path)
                .then(function (resp) {
                    if(resp.ok){
                        return resp.blob()
                    }
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = data.content.files.activeFile+".zip";
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                    console.log("your file has downloaded!");
                })
                .catch(() => alert("zip dosyası oluşturulurken hata oluştu!"));
        }else{
            alert("zip dosyası hatası!");
        }
    }

    function uploadImageAjax(data){
        $.ajax({url: "/uploadFolderChange", data:{token: IDE.token}, async: false, type: "POST", error: ajaxError});
        $.ajax({url: "/uploadImage", data, success: uploadImageParse, type:"POST", contentType: false, cache:false, processData: false, error: ajaxError});
    }

    function uploadImageParse(data){
        console.log("uploadImageParse",data);
        data.map(function(e, i){
            if(e.mimetype.includes("image")){
                console.log( e.path.split("/"+ IDE.files.activeFile +"/")[1] );

                CREATE.imgFNC({
                    properties:{
                        x: i*75,
                        y: i*75,
                        scale: {x: 1, y: 1},
                        src: e.path.split("/"+ IDE.files.activeFile +"/")[1],
                        draggable: true
                    },
                    container: IDE.activeLayer,
                    layer:{
                        name: e.filename,
                        type:"objectImg"
                    },
                    addLayer: true
                });
            }else{
                console.log("mp3 formatı yüklendi");
            }
        });
    }

    function ajaxError(e){console.log(e)}


    function getFileListParse(data){
        if(data.success){
            IDE.token = data.token;
            IDE.faceUser = data.user;
            var saveList = [];

            for(var p in data.fileList.data){
                saveList.push({fileName: p, createTime: data.fileList.data[p].create, username: data.fileList.data[p].user});
            }

            saveList.sort(function(a,b){
                return new Date(b.createTime) - new Date(a.createTime);
            });

            IDE.welcome.savedFileList.innerHTML="";

            saveList.map(function(data){
                addSavedFileBtn(data.fileName, data.createTime, data.username);
            });

            IDE.welcome.main.style.display = "flex";
            IDE.welcome.userMain.style.display = "none";

            if(data.user === "guest"){
                document.querySelector(".welcome_newFileContainer").style.display = "none";
                document.querySelectorAll(".welcomeDelete").forEach(e => e.remove());
            }else{
                LocalSave(data.user, data.pw);
            }
        }else{
            IDE.welcome.userMain.style.display = "flex";
            IDE.welcome.username.value = "Hatalı!";
            IDE.welcome.password.value = "";
        }
    }

    function addStageBG(){
        CREATE.rectFNC({
            properties:{x: 0, y: 0, width: 1280, height: 720, fill: IDE.stage.bg},
            container: KonvaBG
        });
    }

    IDE.sceneTypes.map(function(e){
        addSceneTypeBtnHTML(e[0], e[1]);
    });

    function getFileList(username, password){
        var data = {username, password};
        $.ajax({url: "/getFileList", data, success: getFileListParse, type: "POST", error: ajaxError});
    }

    document.querySelector("#userMain_guestBtn").addEventListener("click", function(){
        getFileList("guest", "guest");
    });


    /* Search */
    document.querySelector("#searchFile").addEventListener("input", function(){
        var userID = this.value;
        IDE.searchList.map(function(e){
            var currentID = e[0].toLowerCase();
            userID = userID.toLowerCase();

            if(currentID.includes(userID)){
                e[1].style.display = "flex";
            }else{
                e[1].style.display = "none";
            }
        });
    });

    function searchFile(file){
        for(var i=0; i<IDE.searchList.length; i++){
            var currentID = IDE.searchList[i][0];

            if(currentID.includes(file)){
                return true;
            }
        }

        return false;
    }


    /*-----------*/

    document.querySelector("#userMain_submitBtn").addEventListener("click", function(){
        var username = IDE.welcome.username.value;
        var password = IDE.welcome.password.value;
        getFileList(username, password);
    });

    function LocalGet() {
        if (typeof(Storage) !== "undefined") {
            var user = localStorage.getItem("occ_user");
            var pw = localStorage.getItem("occ_pw");
            if(user && user !== "guest"){
                getFileList(user, pw);
            }
        }else{
            showError("No Local Storage Support");
        }
    }

    function LocalSave(user, pw) {
        if (typeof (Storage) !== "undefined") {
            localStorage.setItem("occ_user", user);
            localStorage.setItem("occ_pw", pw);
        }else{
            showError("No Local Storage Support");
        }
    }

    LocalGet();

</script>
<!--<div id="textEditBox" contenteditable="true">gg</div>-->

<script src="/assets/js/sr.js"></script>
<script src="/assets/js/ide.js"></script>
</body>
</html>