@import url("https://cdn.okulistik.com/mobileplayer/contentplayer/assets/font/nunito/nunito.css");


body{
    background-color: black;
    font-size: 16px;
    font-family: Nunito;
    user-select: none;
}

#Player_Container{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}


#PlayerMain{
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    position: absolute;
    overflow: hidden;
    transform-origin: 0 0;
}


/* Optik Form */
#Optic_Btn{
    top: 1em;
    right: 1em;
    width: 8em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    color: #19454d;
    cursor: pointer;
    background-color: white;
    border-radius: 2em;
    position: absolute;
}

#Optic_MainDiv{
    top:0;
    right: 0;
    height: 100%;
    background-color: white;
    position: absolute;
}

.Optic_Row{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #e9f8fa;
    color: #1e565f;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 0.5em;
    position: relative;
}

.Optic_Row_No{
    width: 2em;
    height: 3em;
    line-height: 3em;
    text-align: center;
}

.Optic_Row_Select{
    width: 3em;
    height: 3em;
    border-radius: 3em;
    line-height: 3em;
    margin: 0.2em;
    text-align: center;
    background-color: white;
    border:0.1em solid #1e565f;
    flex-shrink: 0;
}

.Optic_Row_Close{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    position: absolute;
}


.Optic_Row_Btn{
    width: 94%;
    height: 3.4em;
    background-color: #d04343;
    color: white;
    margin: 0.5em;
    line-height: 3.4em;
    text-align: center;
    border-radius: 0.5em;
    user-select: none;
    cursor: pointer;
}

#OpticRow_FinishBtn{
    background-color: #d04343;
}

#OpticRow_RestartBtn{
    background-color: orange;
    display: none;
}


/* Navigation */
#Nav_MainDiv{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-color: #4eaee1;
    position: absolute;
}

.Nav_Container{
    width: 99%;
    display: flex;
    padding-top: 0.5em;
    justify-content: right;
    border-radius: 10px 10px 0 0;
}

.Nav_Btn{
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: #19454d;
    border-radius: 0.5em;
    user-select: none;
    cursor: pointer;
}

#Nav_NextBtn{
    background-color: white;
}

#Nav_Text{
    color: white
}

#Nav_BackBtn{

    background-color: white;
}


/* Top Banner */
#Top_MainDiv{
    left: 0;
    top: 0;
    width: 100%;
    height: 5em;
    background-color: #4eaee1;
    position: absolute;
}

#newKT{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/player/kt_mat_bg.jpg");
    background-repeat: repeat;
}


.Nav_Preview_Next{
    width: 50px;
    height: 50px;
    background-color: #4eaee1;
    position: absolute;
    bottom: -55px;
    right: -5px;
}

.Nav_Preview_Btn{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #006600;
    position: absolute;
    user-select: none;
    cursor: pointer;
}

#Nav_Preview_NavInfo{
    right: 52px;
    bottom: -30px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: #006600;
    position: absolute;
    font-size: 13px;
}


#Nav_Preview_BackBtn{
    bottom: -50px;
    right: 104px;
}

#Nav_Preview_NextBtn{
    bottom: -50px;
    right: 0;
}


.Normal_NavBtn{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #0d47a1;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.Normal_NavInfo{
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #606060;
    background-color: #b1b1b1;
}

#Normal_BackBtn{
    border-radius: 10px 0 0 10px;
}

#Normal_NextBtn{
    border-radius: 0 10px 10px 0;
    margin-right:5px;
}

.Normal_NavMain{
  display: flex;
    position: absolute;
    right: 0;
    bottom: 5px;
}


.hide{
    visibility: hidden;
}

.screenClose{
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0);
}

.semiopacity{
    opacity:0.5;
}


/**** Scene Auto Change ****/
#autoSceneChange_Main{
    position: absolute;
    background-color: white;

    padding: 0.7%;
    border: 1px solid #e4e3ec;
    display: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    bottom: 24%;
    right: 1%;
    width: 16%;
    height: 7%;
    border-radius: 5%/15%;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

.autoSceneChange_Container{
    width: 14%;
    height: 60%;
}

#autoSceneChange_Pie{
    margin: auto;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 30px;
    border:1px solid silver;
    transform-origin: 0 0;
}

#autoSceneChange_Pie svg{
    width: 30px;
    height: 30px;
}

#autoSceneChange_WindowClose {
    width: 7%;
    height: 100%;
    position: relative;
    background-color: #efedf1;
    border-radius: 0.5rem;
    cursor: pointer;
}

#autoSceneChange_WindowClose:hover {
    background-color: #d3cdd7;
}

#autoSceneChange_Main #autoSceneChange_WindowClose{
    width: 19%;
}


.autoMessageClose {
    width: 7%;
    height: 100%;
    position: relative;
    background-color: #efedf1;
    border-radius: 0.5rem;
    cursor: pointer;
}

.autoMessageClose:hover {
    background-color: #d3cdd7;
}

.autoMessageCloseImg {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    transform: translateY(-50%);
}

#CountdownCircle{
    stroke:none;
    fill: silver;
}

/*--- Scene Auto Change ---*/




/**** EndScreen ****/
#endScreenMain {
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/mobileplayer/contentcreator/assets/img/player/endscreen/newEndBg.gif");
    background-size: cover;
    display: none;
}

#endScreenSuccessTxtBox {
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    position: absolute;
}

#endScreenSuccessTxtBox img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#endScreenOtherContentBtn {
    left: 75%;
    top: 70%;
    width: 12%;
    height: 21.4%;
    position: absolute;
    border-radius: 100px;
    background-color: #f76b55;
    color: white;
}

#endScreenRestartBtn {
    left: 13%;
    top: 70%;
    width: 12%;
    height: 21.4%;
    position: absolute;
    border-radius: 100px;
    background-color: #f76b55;
    color: white;
}

#endScreenBtnBG {
    left: 10%;
    top: 65%;
    width: 80%;
    height: 31%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 200px;
}

#endScreenBackScreenBtn {
    left: 85%;
    top: 62%;
    width: 5.6%;
    height: 10%;
    border: 0 solid white;
    position: absolute;
    border-radius: 50px;
}

#endScreenAvatarImg {
    left: 44%;
    top: 20%;
    width: 13%;
    height: 23.2%;
    position: absolute;
    border-radius: 100px;
}

#endScreenStarMain {
    left: 32%;
    top: 3%;
    width: 36%;
    height: 23.2%;
    position: absolute;
}

#endScreenStarMain img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.endScreenBtnTxt {
    top: 24%;
    width: 100%;
    position: absolute;
    font-size: 32px;
    text-align: center;
}

#endScreenAdviceTxt {
    left: 0;
    top: 90%;
    width: 100%;
    height: 40px;
    color: #f76b55;
    font-weight: bold;
    text-align: center;
    position: absolute;
}

/*---- EndScreen ----*/

#startScreen{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.startScreen_main{
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 200px;
    position: absolute;
}

.startScreen_main img{
    width: 100%;
    height: 100%;
    position: absolute;
}



/* Paint Activity */
.paint_check{
    width:100%;
    height: 100%;

}